@font-face {
    font-family: SlateForOnePlus-Light;
    src: url('fonts/SlateForOnePlus-Light.ttf');
}

body {
    margin: 0;
    padding: 0;
}

nav {
    display: flex;
    height: 60px;
    padding: 0 138px;
    background-color: #FFFFFF;
    border-bottom: 1px solid #EAEAEB;
}

.nav-icon {
    cursor: pointer;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 60px;
}

#icon-menu {
    background: url("assets/menu.svg") no-repeat;
    display: none;
}

#toggle-menu {
    display: none;
}

#icon-brand {
    background: url("assets/one_plus_logo.svg") no-repeat;
}

#icon-cart {
    background: url("assets/cart.svg") no-repeat;
    border-bottom: 2px solid transparent;
    transition: .25s;
}

#icon-cart:hover {
    background: url("assets/cart_black.svg") no-repeat;
    border-bottom: 2px solid #000000;
}

#icon-country {
    background: url("assets/flag.svg") no-repeat;
}

#nav-menu {
    display: flex;
    list-style: none;
    margin: 0 auto;
}

#nav-menu li a {
    text-decoration: none;
    font-size: 14px;
    display: inline-block;
    line-height: 60px;
    min-width: 60px;
    cursor: pointer;
    color: #828282;
    padding: 0 2.5em;
    font-family: SlateForOnePlus-Light, Helvetica, Arial, sans-serif;
    font-weight: 300;
    margin-top: -1px;
    border-bottom: 2px solid transparent;
    transition: .25s;
}

#nav-menu li a:hover {
    color: #E90C30;
    border-bottom: 2px solid #E90C30;
}

@media screen and (max-width: 768px) {
    nav {
        padding: 0 10px;
    }

    #icon-menu {
        display: inline;
        transition: .25s;
    }

    #icon-menu label {
        display: block;
        height: 60px;
    }

    #icon-brand {
        margin: 0 auto;
    }

    #nav-menu {
        display: none;
        background-color: #FFFFFF;
    }

    #icon-country {
        display: none;
    }

    #toggle-menu:checked ~ #nav-menu {
        display: flex;
        flex-direction: column;
        position: absolute;
        width: 100%;
        margin-top: 61px;
        padding: 0;
        height: calc(100% - 61px);
    }

    #toggle-menu:checked + #icon-menu {
        background: url("assets/close.svg") no-repeat;
    }

    #icon-cart:hover {
        background: url("assets/cart.svg") no-repeat;
        border-bottom: 2px solid transparent;
    }

    #nav-menu li a:hover {
        color: #000000;
        border-bottom: 2px solid transparent;
    }
}